<!DOCTYPE html>
<html>

<head>
    <title>{{ todo_list.name }}</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
            <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for todo_item in todo_list.items.all %}
                <tr>
                    <td>{{ todo_item.task }}</td>
                    <td>{{ todo_item.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
