<!DOCTYPE html>
<html>

<head>
    <title>Create a new list</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name" required>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>

</html>
