<!DOCTYPE html>
<html>

<head>
    <title>Update list</title>
</head>

<body>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name" value="{{ todo_list.name }}" required>
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>

</html>
